<mat-grid-list cols="2">

  <mat-grid-tile>
    <mat-card>

      <form [formGroup]="form">
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Ingresa titulo</mat-label>
            <input formControlName="title" matInput placeholder="Titulo...">
            <mat-icon matSuffix>title</mat-icon>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Ingresa descripcion</mat-label>
            <input formControlName="desc" matInput placeholder="Descripcion...">
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
  
          <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="saveTarea()">Guardar</button>
        </div>
      </form>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

    <div class="inputs">
      <mat-card style="margin-top: 20px;" *ngFor="let item of tareas">
        <mat-label>
            <h2> {{ item.title }} </h2>
            <p> {{ item.desc }} </p>
        </mat-label>
      </mat-card>
    </div>

  </mat-grid-tile>

</mat-grid-list>