<div class="forms">
    <mat-card class="mat-elevation-z3">
        <form [formGroup]="form">
        <div class="inputs">
            <mat-form-field appearance="outline">
            <mat-label>Ingresa titulo</mat-label>
            <input formControlName="title" matInput placeholder="Titulo...">
            <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
            <mat-label>Ingresa descripcion</mat-label>
            <input formControlName="desc" matInput placeholder="Descripcion...">
            <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
        
            <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="saveTarea()">Guardar</button>
        </div>
        </form>
    </mat-card>
</div>